* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna+Guides&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1 {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    padding: 10px;
    text-align: justify;
    /* background-color: lightgray; */

}

p {
    /* font-family: "Playwrite IT Moderna Guides", serif;
    font-weight: 400;
    font-style: normal;  */

    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    padding-bottom: 20px;
    text-align: justify;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(to right top, rgba(139, 219, 139, 0.649), rgba(249, 116, 116, 0.764));
    min-height: 60px;

}


.navimg {
    width: 20%;
    display: flex;
    min-height: 60px;
    align-items: end;
    justify-content: right;
    flex-wrap: wrap;
    
}

.navitem {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    /* background-color: gray; */
    min-height: 60px;
    
}

.navitem>a {
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    color: white;

}

.user {
    width: 20%;
    min-height: 60px;
    /* border: 1px solid;   */
    /* background-color: azure; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 10px; */
}

.user>a {
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    /* background-color: antiquewhite; */
    padding: 5px;
    border: 2px solid;
}

.container {
    width: 100%;
    min-height: 90vh;
    background-color: rgba(229, 163, 163, 0.718);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 20px;
}

.sideads>img {
    width: 90%;
    min-height: 150px;
    padding-top: 20px;
    padding-left: 10px;
}

.sideitem>ul>li>a {
    background-color: white;
    text-decoration: none;
}

.sideitem>ul {
    line-height: 4rem;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid;
    list-style: none;
}

.maincontain {
    margin-top: 20px;
    /* padding: 20px; */
}

.maincontain>img {
    width: 90%;
    padding-bottom: 10px;
}
footer{
    /* width: 100%; */
    min-height: 30vh;
    background-color: rgb(239, 210, 210);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center */

}
.company {
    padding-left: 50px;
    line-height: 2em;
    width: 25%;
    font-size: 1.4rem;
    /* background-color: rgb(186, 216, 246) */
    
    
} 
.gethelp {
    padding-left: 50px;
    line-height: 2em;
    width: 25%;
    font-size: 1.4rem;
    /* background-color: rgb(153, 166, 180) */
}
.onlineshop {
    padding-left: 50px;
    line-height: 2em;
    width:25% ;
    font-size: 1.4rem;
    /* background-color: rgb(232, 238, 245) */
}
.follow{
    
    width:25% ;
    /* background-color: lightslategray */
} 
.company > ul > li{
    list-style: none;
}
.gethelp > ul > li{
    list-style: none;
}
.onlineshop > ul > li{
    list-style: none;
}
.onlineshop > ul > li> a{
    text-decoration: none;
}
.gethelp > ul > li> a{
    text-decoration: none;
}
.company > ul > li> a{
    text-decoration: none;
}
.follow > p{
    padding-left: 20px;
    padding-top: 20px;
}
table > tr > td > iframe{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}